<div class="topDisp" >		
	<nav class="navbarT navbar-default col-md-12 col-sm-12 col-xs-12">
		<div class="container-fluid">
			<div class="navbar-header">
				<img width="50px;" height="50px;" style="margin-left: -20px; margin-right: 10px;" src="http://diylogodesigns.com/blog/wp-content/uploads/2016/06/nba-logo-transparent-png-logo-download.png">
			</div>
			<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="video">Video</a></li>
			<li class="active"><a href="teams">Teams</a></li>
			</ul>
		</div>
	</nav>
</div>  <!-- boxRow row -->


<div class="background"></div>
<div class="allStandings">
	<h3 style="text-align: center;border-bottom: 1px solid; border-radius: 6px;padding-bottom: 5px;">Season Standings</h3> 
	<div class="teamDiv col-md-6">
		<div class="standings">
			           
			<table class="table table-hover teamTable">
				
				<thead>
			      <tr>
			        <th><h4>Eastern Conference</h4></th>
			        <th></th>
			        <th>Record (W-L)</th>
			        <th></th>
			        <th></th>
			        <!-- <th>Games Back</th> -->
			      </tr>
			    </thead>
			    {{#each easternData}}
			    <tbody>
			    	<tr>
			    		<td>{{this.rank}})  {{this.team.City}} {{this.team.Name}}</td>
			    		<td></td>
			    		<!-- {{#each eastWins}}<td>{{this}}</td>{{/each}} -->
			    		<td>{{lookup this.stats.Wins '#text'}} - {{lookup this.stats.Losses '#text'}}</td>

			    	</tr>
			    </tbody>
			    {{/each}}
			</table>
		</div>
	</div>
	<div class="teamDiv col-md-6">
		<div class="standings">
		
			<table class="table table-hover teamTable">
				<thead>
			      <tr>
			        <th><h4>Western Conference</h4></th>
			        <th></th>
			        <th>Record (W-L)</th>
			        <th></th>
			        <th></th>
			        <!-- <th>Games Back</th> -->
			      </tr>
			    </thead>
			    {{#each westernData}}
			    <tbody>
			    	<tr>
			    		<td>{{this.rank}})  {{this.team.City}} {{this.team.Name}}</td>
			    		<td></td>
			    		<td>{{lookup this.stats.Wins '#text'}} - {{lookup this.stats.Losses '#text'}}</td>
			    		<!-- <td>{{this}}</td> -->
			    	</tr>
			    </tbody>
			    {{/each}}
			</table>
		</div>
	</div>
</div> <!-- allStandings-->

